@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --title-text: #444444;
  --point-color: #9c00ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --title-text: #ffffff;
    --point-color: #9c00ff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "IBM Plex Sans KR", Arial, Helvetica, sans-serif;

  main {
    height: calc(100vh - 104px);
  }

  strong {
    color: var(--point-color);
  }

  h1 {
    color: var(--title-text);
  }

  button {
    padding: 6px 12px;
    border-radius: 4px;
    &:hover {
      background-color: var(--foreground);
      color: var(--background);
    }
  }
}
